openapi: 3.1.0
info:
  title: Bucephalus Cloud Live Observability API
  version: 0.1.0
  description: >
    Live run mirror APIs for UI observability. These endpoints expose provisional
    state and event streams. Committed analytical truth still arrives through the
    Analysis ingestion API.
servers:
  - url: https://api.bucephalus.dev
  - url: http://localhost:8080
security:
  - bearerAuth: []
paths:
  /v1/observability/runs/{run_id}/sessions:
    post:
      operationId: openLiveRunSession
      summary: Register a live mirror session for a Core runner.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - source
              properties:
                source:
                  type: string
                  enum:
                    - core_runner
                    - uploader
                    - dev_fixture
                engine_owner_id:
                  type:
                    - string
                    - 'null'
                ttl_seconds:
                  type: integer
                  minimum: 15
                  maximum: 3600
                  default: 120
                metadata:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '201':
          description: Live session registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSession'
  /v1/observability/runs/{run_id}/status:
    put:
      operationId: updateLiveRunStatus
      summary: Upsert the latest provisional run status mirror.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './common.yaml#/components/schemas/LiveRunSnapshot'
      responses:
        '200':
          description: Latest snapshot accepted.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/LiveRunSnapshot'
  /v1/observability/runs/{run_id}/events:
    post:
      operationId: appendLiveRunEvents
      summary: Append provisional run events for live UI streaming.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - events
              properties:
                events:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/LiveEvent'
      responses:
        '202':
          description: Events accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - accepted
                properties:
                  accepted:
                    type: integer
                    minimum: 0
    get:
      operationId: listLiveRunEvents
      summary: List recent provisional events for a run.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
        - name: since_seq
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Provisional events.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - events
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiveEvent'
  /v1/observability/runs/{run_id}/snapshot:
    get:
      operationId: getLiveRunSnapshot
      summary: Fetch the latest provisional live snapshot.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
      responses:
        '200':
          description: Latest live snapshot.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/LiveRunSnapshot'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/observability/runs/{run_id}/stream:
    get:
      operationId: streamLiveRunEvents
      summary: Stream provisional run events via server-sent events.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
        - name: since_seq
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Server-sent event stream. Each data frame is a LiveEvent JSON object.
          content:
            text/event-stream:
              schema:
                type: string
  /v1/observability/runs/{run_id}/sessions/{session_id}:
    delete:
      operationId: closeLiveRunSession
      summary: Close a live mirror session.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/RunId'
        - name: session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Session closed.
components:
  securitySchemes:
    bearerAuth:
      $ref: './common.yaml#/components/securitySchemes/bearerAuth'
  schemas:
    LiveSession:
      type: object
      additionalProperties: false
      required:
        - session_id
        - run_id
        - source
        - opened_at
        - expires_at
      properties:
        session_id:
          type: string
          format: uuid
        run_id:
          $ref: './common.yaml#/components/schemas/RunId'
        source:
          type: string
        engine_owner_id:
          type:
            - string
            - 'null'
        opened_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
    LiveEvent:
      type: object
      additionalProperties: false
      required:
        - run_id
        - event_seq
        - event_type
        - observed_at
        - authority
        - payload
      properties:
        run_id:
          $ref: './common.yaml#/components/schemas/RunId'
        event_seq:
          type: integer
          minimum: 0
        event_type:
          type: string
          minLength: 1
        observed_at:
          type: string
          format: date-time
        authority:
          type: string
          enum:
            - provisional_mirror
        trial_id:
          type:
            - string
            - 'null'
        schedule_idx:
          type:
            - integer
            - 'null'
          minimum: 0
        phase:
          type:
            - string
            - 'null'
        payload:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'

