openapi: 3.1.0
info:
  title: Bucephalus Cloud Runs API
  version: 0.1.0
  description: >
    Cloud run request primitives. A run references an accepted sealed package
    artifact and supplies only the environment values or secret references that
    are not already provided by the target runtime environment.
servers:
  - url: https://api.bucephalus.dev
  - url: http://localhost:8080
security:
  - bearerAuth: []
paths:
  /v1/packages:
    get:
      operationId: listPackageArtifacts
      summary: List recent package artifacts.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: './common.yaml#/components/parameters/Limit'
        - name: include_config
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include full manifest, resolved experiment, diagnostics, provenance, and image metadata.
      responses:
        '200':
          description: Package artifacts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - packages
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageArtifact'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
  /v1/packages/{package_digest}:
    get:
      operationId: getPackageArtifact
      summary: Fetch an accepted sealed package artifact by digest.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: package_digest
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/Digest'
      responses:
        '200':
          description: Package artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageArtifact'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/packages/{package_digest}/content:
    get:
      operationId: downloadPackageArtifact
      summary: Download sealed package artifact bytes by digest.
      security:
        - workerAttemptBearerAuth: []
      description: >
        Workers use this endpoint to materialize package content. The request
        must present the worker attempt bearer token and X-Bucephalus-Attempt-Id
        for a running attempt whose run uses this package digest. The API
        resolves package storage metadata through the run owner's package association
        so same-digest uploads from another owner cannot redirect a
        worker onto another storage object. Workers must not read API-local
        storage paths from the database.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: package_digest
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/Digest'
        - name: X-Bucephalus-Attempt-Id
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Running attempt id bound to the bearer attempt token.
      responses:
        '200':
          description: Package archive bytes.
          headers:
            X-Bucephalus-Package-Digest:
              schema:
                $ref: './common.yaml#/components/schemas/Digest'
          content:
            application/gzip:
              schema:
                type: string
                format: binary
            application/x-tar:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs:
    get:
      operationId: listRuns
      summary: List recent Cloud run records.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: './common.yaml#/components/parameters/Limit'
        - name: package_digest
          in: query
          required: false
          schema:
            $ref: './common.yaml#/components/schemas/Digest'
          description: Restrict results to runs created from a specific package artifact.
        - name: include_runtime
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include runtime progress and queued pending-reason enrichment.
        - name: include_config
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include run config blobs such as runtime options, requirements, provenance, and env/secret key summaries.
      responses:
        '200':
          description: Run records.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runs
                properties:
                  runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRun'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
    post:
      operationId: createRun
      summary: Create a Cloud run request for an accepted sealed package.
      description: >
        This creates a run record. It does not build, rewrite, register, or
        launch a different artifact. Runtime execution can be attached later by
        a managed runner.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - package_digest
              properties:
                package_digest:
                  $ref: './common.yaml#/components/schemas/Digest'
                run_label:
                  type:
                    - string
                    - 'null'
                env:
                  type: object
                  additionalProperties:
                    type: string
                    maxLength: 32768
                  description: >
                    Plain non-secret environment values supplied for this run.
                    Keys must be uppercase shell identifiers matching
                    [A-Z_][A-Z0-9_]*, must not collide with secret_refs keys,
                    and must not use reserved Cloud runtime/control-plane names
                    such as DATABASE_URL, BUCEPHALUS_CLOUD_WORKER_TOKEN, or
                    provider credential variables. Values must not contain NUL
                    bytes and are limited to 32768 UTF-8 bytes.
                secret_refs:
                  type: object
                  additionalProperties:
                    type: string
                  description: >
                    Environment variable names mapped to secret references.
                    bucephalus://<name> references a hosted secret previously
                    uploaded via PUT /v1/secrets/<name> and is translated to a
                    backing provider ref at run creation. Direct provider refs
                    are also accepted:
                    gcp-secret-manager://projects/<project>/secrets/<secret>/versions/<version>
                    and aws-secrets-manager://<secret-id>.
                runtime_options:
                  $ref: '#/components/schemas/CloudRuntimeOptions'
                  description: >
                    Hosted Cloud runtime options accepted by the scheduler.
                    Placement is Cloud-owned: clients must not send region,
                    runtime_region, placement, or zone. Legacy local/TUI aliases
                    such as executor and cpu are also rejected; use backend and
                    cpu_count when those knobs are explicitly supported.
      responses:
        '201':
          description: Run record created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRun'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs/{run_id}:
    get:
      operationId: getRun
      summary: Fetch a Cloud run record.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Run record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRun'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/events:
    get:
      operationId: listRunRuntimeEvents
      summary: List runtime lifecycle, audit, and trace events for a Cloud run.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
        - name: after_row_seq
          in: query
          required: false
          description: >
            Numeric event row cursor for manual debugging/backfill. Prefer
            `continue` for paged clients and `metadata.resourceVersion` for
            follow/watch cursors. The server rejects requests that provide both
            `after_row_seq` and `continue`.
          schema:
            type: integer
            minimum: 0
        - name: continue
          in: query
          required: false
          description: >
            Event-list cursor returned as `metadata.continue` or
            `metadata.resourceVersion`. Current cursors use
            `event-row-seq:<row_seq>`; clients should still treat the value as
            opaque and pass it back unchanged.
          schema:
            type: string
        - name: event_type
          in: query
          required: false
          description: >
            Filter by event type. May be repeated or comma-separated, for
            example `event_type=runtime.access.exec.requested,trial.observed`.
            Runtime audit event types include low-level access lifecycle rows,
            operation reviews, raw log/content reads, and
            `runtime.api_resources.read` / `runtime.api_resources.read.failed`
            catalog discovery reads, plus
            `runtime.inspect.bundle.read` / `runtime.inspect.bundle.read.failed`
            support-bundle reads.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: source
          in: query
          required: false
          description: >
            Filter by normalized event source, such as `cloud.run_events`,
            `runtime.event_rows`, or `worker_runtime_snapshot`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: resource_kind
          in: query
          required: false
          description: Filter events by involved runtime resource kind when the event declares one.
          schema:
            type: string
        - name: resource_name
          in: query
          required: false
          description: Filter events by involved runtime resource name when the event declares one.
          schema:
            type: string
        - name: trial_id
          in: query
          required: false
          description: Filter events by trial id across Core, worker snapshot, and Cloud control-plane event rows.
          schema:
            type: string
        - name: task_id
          in: query
          required: false
          description: Filter events by task id across Core, worker snapshot, and Cloud control-plane event rows.
          schema:
            type: string
      responses:
        '200':
          description: Runtime event rows from the Cloud control plane, worker snapshots, and Core runtime store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeEventList'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/api-resources:
    get:
      operationId: listRunRuntimeApiResources
      summary: Discover runtime resource kinds and supported operations for a Cloud run.
      description: >
        Returns a Kubernetes-style API resource catalog for the runtime control
        plane of one Cloud run. Each entry describes the kind, short names,
        supported verbs, subresources, lifecycle actions, access operations,
        selector support, and the current number of visible resources of that
        kind in the run inventory.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Runtime API resource discovery catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeApiResourceList'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/api-resources/{kind}:
    get:
      operationId: getRunRuntimeApiResource
      summary: Explain one runtime resource kind and its supported operations.
      description: >
        Resolves a canonical Kind, lowercase plural name, singular name, short
        name, or hyphen/case variant against the runtime API discovery catalog
        for one Cloud run and returns the authoritative resource-kind contract.
        This is the server-side equivalent of `kubectl explain` for Cloud
        runtime resources, including selector contracts, path templates,
        subresources, lifecycle actions, access operations, printer columns,
        example commands, and the live visible resource count for the run.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          schema:
            type: string
          description: Canonical Kind, plural, singular, short name, or hyphen/case alias to explain.
      responses:
        '200':
          description: Runtime API resource kind contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeApiResource'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/inspect:
    get:
      operationId: inspectRunRuntime
      summary: Build a runtime inspect bundle for one Cloud run.
      description: >
        Returns a bounded Kubernetes/OpenShift-style inspect bundle containing
        runtime API resource discovery, the visible resource inventory, resource
        health, bounded resource metrics, recent lifecycle/audit events, and log
        subresource references for resources that support logs. The same
        resource selectors as list/health/top can narrow the exported inventory
        for support handoff and offline operator inspection without embedding
        large log payloads.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: event_limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 250
        - name: kind
          in: query
          required: false
          description: >
            Filter by resource kind before the inspect bundle is built. May be
            repeated or comma-separated, and accepts canonical kinds,
            lowercase singular/plural resource names, or short names from
            `runtime/api-resources`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: category
          in: query
          required: false
          description: >
            Filter by server-advertised runtime API resource category before
            the inspect bundle is built. May be repeated or comma-separated,
            and values come from `runtime/api-resources[].categories`, such as
            `runner`, `trial`, `access`, or `access-target`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: label_selector
          in: query
          required: false
          description: Kubernetes-style label selector applied before the inspect bundle is built.
          schema:
            type: string
        - name: field_selector
          in: query
          required: false
          description: >
            Kubernetes-style field selector applied before the inspect bundle is
            built. Supports the same paths as runtime resource listing.
          schema:
            type: string
      responses:
        '200':
          description: Runtime inspect bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeInspectBundle'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources:
    get:
      operationId: listRunRuntimeResources
      summary: List low-level runtime resources for a Cloud run.
      description: >
        Returns Kubernetes-shaped runtime resources backed by Cloud control
        plane rows, declared run requirements, runner pools, worker attempts,
        runner provision requests, normalized Core schedule/container tables,
        worker runtime snapshots, and runtime lifecycle/audit events projected as
        Event resources. Secret refs and environment values are not included;
        only secret ids and environment key names are exposed.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: query
          required: false
          description: >
            Filter by resource kind. May be repeated or comma-separated, and
            accepts canonical kinds, lowercase singular/plural resource names,
            or short names from `runtime/api-resources`; for example
            `kind=RunnerAttempt,PortForward&kind=Exec`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: category
          in: query
          required: false
          description: >
            Filter by server-advertised runtime API resource category. May be
            repeated or comma-separated, and values come from
            `runtime/api-resources[].categories`, such as `runner`, `trial`,
            `access`, or `access-target`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: label_selector
          in: query
          required: false
          description: >
            Kubernetes-style label selector. Supports `key`, `!key`,
            `key=value`, `key==value`, `key!=value`, `key in (a,b)`,
            and `key notin (a,b)` expressions separated by commas. Commas
            inside set expressions are parsed as set values.
          schema:
            type: string
        - name: field_selector
          in: query
          required: false
          description: >
            Kubernetes-style field selector. Supports `path=value` and
            `path!=value` over `kind`, `metadata.name`, `metadata.uid`,
            `metadata.generation`, `metadata.resourceVersion`,
            `metadata.creationTimestamp`, `metadata.deletionTimestamp`,
            `metadata.labels.<key>`, `metadata.ownerReferences`,
            `metadata.ownerReferences.apiVersion`,
            `metadata.ownerReferences.kind`, `metadata.ownerReferences.name`,
            `metadata.ownerReferences.uid`, `spec.<path>`,
            operational access paths such as `status.access.reachable`,
            `status.access.port_forward`, `status.access.exec`,
            `status.access.runner_instance_id`,
            `status.access.runner_instance_status`,
            `status.access.attempt_id`, `status.access.worker_id`,
            condition paths such as `status.conditions.Ready`,
            `status.conditions.ClientReachable`,
            `status.conditions.ClientReachable.reason`, generic `status.<path>`,
            and `audit.<path>`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: >
            Maximum number of resources to return from the filtered collection.
            When more resources remain, the response metadata includes an opaque
            `continue` token and `remainingItemCount`.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: continue
          in: query
          required: false
          description: >
            Opaque pagination token from a previous RuntimeResourceList
            `metadata.continue` value. Tokens are tied to the filtered
            collection resourceVersion; restart the list if the token expires.
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource inventory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceList'
        '410':
          description: Continue token expired because the filtered resource collection changed.
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/health:
    get:
      operationId: getRunRuntimeResourceHealth
      summary: Summarize runtime resource health for a Cloud run.
      description: >
        Returns an operator-oriented health rollup derived from runtime resource
        conditions, phases, access readiness, and advertised lifecycle actions.
        Supports the same kind, label, and field selectors as runtime resource
        listing so CLI and GUI clients can summarize a filtered inventory.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: query
          required: false
          description: >
            Filter by resource kind. May be repeated or comma-separated, and
            accepts canonical kinds, lowercase singular/plural resource names,
            or short names from `runtime/api-resources`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: category
          in: query
          required: false
          description: >
            Filter by server-advertised runtime API resource category. May be
            repeated or comma-separated, and values come from
            `runtime/api-resources[].categories`, such as `runner`, `trial`,
            `access`, or `access-target`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: label_selector
          in: query
          required: false
          description: Kubernetes-style label selector applied before health is calculated.
          schema:
            type: string
        - name: field_selector
          in: query
          required: false
          description: >
            Kubernetes-style field selector applied before health is calculated.
            Supports the same paths as runtime resource listing, including
            `status.access.reachable`, `status.access.port_forward`,
            `status.access.exec`, `status.access.runner_instance_id`,
            `status.access.runner_instance_status`,
            `status.access.attempt_id`, `status.access.worker_id`, and
            condition paths such as `status.conditions.Ready` or
            `status.conditions.ClientReachable.reason`.
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource health summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceHealth'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/metrics:
    get:
      operationId: listRunRuntimeResourceMetrics
      summary: List metrics for runtime resources in a Cloud run.
      description: >
        Returns a bounded, operator-oriented metrics view across the filtered
        runtime resource inventory, similar to a Kubernetes `top`-style scan.
        Supports the same kind, label, and field selectors as runtime resource
        listing so CLI and GUI clients can inspect infrastructure state without
        fetching each resource metrics subresource one at a time.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: query
          required: false
          description: >
            Filter by resource kind. May be repeated or comma-separated, and
            accepts canonical kinds, lowercase singular/plural resource names,
            or short names from `runtime/api-resources`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: category
          in: query
          required: false
          description: >
            Filter by server-advertised runtime API resource category. May be
            repeated or comma-separated, and values come from
            `runtime/api-resources[].categories`, such as `runner`, `trial`,
            `access`, or `access-target`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: label_selector
          in: query
          required: false
          description: Kubernetes-style label selector applied before metrics are calculated.
          schema:
            type: string
        - name: field_selector
          in: query
          required: false
          description: >
            Kubernetes-style field selector applied before metrics are calculated.
            Supports the same paths as runtime resource listing, including
            `status.access.reachable`, `status.access.port_forward`,
            `status.access.exec`, and condition paths such as
            `status.conditions.Ready`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of resource metric rows to return for this page.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: continue
          in: query
          required: false
          description: >
            Opaque pagination cursor from metadata.continue on a previous
            runtime resource metrics list response. Restart the list without
            continue when the cursor expires.
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource collection metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceMetricsList'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/watch:
    get:
      operationId: watchRunRuntimeResources
      summary: Watch low-level runtime resource changes for a Cloud run.
      description: >
        Returns a Kubernetes-style watch snapshot for runtime resources. Clients
        can pass the last list `metadata.resourceVersion` as `resource_version`
        to get an empty event list when the filtered collection is unchanged,
        or pass previously observed resource versions with repeated
        `known_resource=Kind/name=resourceVersion` query parameters for
        per-resource ADDED, MODIFIED, and DELETED comparisons. Pass
        `allow_bookmarks=true` to receive a BOOKMARK event when the filtered
        collection has no changes but the watch cursor is still valid. The API
        returns the current resource-version map to use on the next watch
        request.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: query
          required: false
          description: >
            Filter by resource kind. May be repeated or comma-separated, and
            accepts canonical kinds, lowercase singular/plural resource names,
            or short names from `runtime/api-resources`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: category
          in: query
          required: false
          description: >
            Filter by server-advertised runtime API resource category. May be
            repeated or comma-separated, and values come from
            `runtime/api-resources[].categories`, such as `runner`, `trial`,
            `access`, or `access-target`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: label_selector
          in: query
          required: false
          description: Kubernetes-style label selector applied before watch events are calculated.
          schema:
            type: string
        - name: field_selector
          in: query
          required: false
          description: >
            Kubernetes-style field selector applied before watch events are
            calculated. Supports the same paths as runtime resource listing,
            including operational access paths such as
            `status.access.reachable`, `status.access.port_forward`,
            `status.access.exec`, `status.access.runner_instance_id`,
            `status.access.runner_instance_status`,
            `status.access.attempt_id`, `status.access.worker_id`, and
            condition paths such as `status.conditions.Ready` or
            `status.conditions.ClientReachable.reason`.
          schema:
            type: string
        - name: known_resource
          in: query
          required: false
          description: >
            Previously observed resource cursor in `Kind/name=resourceVersion`
            form. Repeat once per known resource.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: resource_version
          in: query
          required: false
          description: >
            Previously observed RuntimeResourceList `metadata.resourceVersion`.
            When it matches the current filtered collection and no
            `known_resource` cursors are supplied, the watch response contains
            no events unless `allow_bookmarks=true`.
          schema:
            type: string
        - name: allow_bookmarks
          in: query
          required: false
          description: >
            When true, return a Kubernetes-style BOOKMARK event carrying the
            current collection `resource_version` when no ADDED, MODIFIED, or
            DELETED events are available.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Runtime resource watch snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceWatchList'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}:
    get:
      operationId: describeRunRuntimeResource
      summary: Read or describe one low-level runtime resource for a Cloud run.
      description: >
        By default, returns the selected Kubernetes-shaped runtime resource plus
        related lifecycle/audit events, similar to `kubectl describe` or
        `oc describe`. Pass `view=resource` to fetch the raw runtime resource
        manifest object, matching Kubernetes-style `get` semantics.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: view
          in: query
          required: false
          description: >
            Response shape. `describe` returns the describe bundle; `resource`
            returns the raw RuntimeResource object.
          schema:
            type: string
            enum:
              - describe
              - resource
            default: describe
        - name: event_limit
          in: query
          required: false
          description: Only applies to the default `describe` view.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: Runtime resource manifest or describe detail.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RuntimeResource'
                  - $ref: '#/components/schemas/RuntimeResourceDescribe'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
    delete:
      operationId: deleteRunRuntimeResource
      summary: Delete a cancelable runtime access resource.
      description: >
        Kubernetes-style resource DELETE for runtime access resources. Today
        this is supported for PortForward and Exec resources and is applied as
        the audited `actions/cancel` lifecycle operation, so events, resource
        status, and describe output remain consistent with the action API.
        Other resource kinds return Conflict.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the cancel event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/status:
    get:
      operationId: getRunRuntimeResourceStatus
      summary: Read the lifecycle status for one runtime resource.
      description: >
        Returns the status subresource for a Kubernetes-shaped runtime resource.
        This is the compact lifecycle view for scripts and UI polling: identity,
        generation/resourceVersion freshness markers, top-level phase/reason/message,
        conditions, available lifecycle actions, and the raw status object.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceStatus'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/operations/{operation}:
    get:
      operationId: reviewRunRuntimeResourceOperation
      summary: Review whether one runtime resource operation is currently supported.
      description: >
        Returns the server-derived yes/no review for a selected runtime resource
        operation, using the same object-scoped operation contract exposed by
        resource describe. Unsupported operations remain explicit with a
        machine-readable reason and human-readable message so CLI and GUI
        clients do not need to infer why a low-level action is unavailable.
        Operation review also covers status-subresource wait checks, so clients
        can confirm a `buc runs wait` command before polling the status
        subresource.
        Slash-qualified operation labels such as `logs/stdout` or
        `watch/not-ready` are one operation name and must be percent-encoded in
        this path segment, for example `logs%2Fstdout`.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: operation
          in: path
          required: true
          description: Operation label such as describe, list/name, wait, top, metrics, events, audit, logs, logs/stdout, watch/not-ready, port-forward, exec, delete, cancel, cordon, drain, or uncordon. Slash-qualified labels must be percent-encoded as one path segment.
          schema:
            type: string
          examples:
            logsStdout:
              value: logs%2Fstdout
              summary: Encoded logs/stdout operation label.
      responses:
        '200':
          description: Runtime resource operation review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceOperationReview'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/metrics:
    get:
      operationId: getRunRuntimeResourceMetrics
      summary: Read observability metrics for one runtime resource.
      description: >
        Returns source-labeled resource metrics derived from owned runtime
        facts: lifecycle freshness, condition counts, access readiness, related
        runtime event counts, and bounded numeric spec/status fields. This is a
        Kubernetes-style metrics subresource for scripts and GUI panels; it does
        not fabricate provider CPU or memory telemetry when the runtime has not
        reported it.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource observability metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceMetrics'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/events:
    get:
      operationId: listRunRuntimeResourceEvents
      summary: List lifecycle and audit events for one runtime resource.
      description: >
        Returns the resource-scoped event stream for a Kubernetes-shaped runtime
        resource, similar to looking up Events involved with an object in
        Kubernetes or OpenShift. This subresource preserves the same event
        filters as the run-level runtime event stream while resolving involved
        object references from the selected resource.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: after_row_seq
          in: query
          required: false
          description: >
            Numeric event row cursor for manual debugging/backfill. Prefer
            `continue` for paged clients and `metadata.resourceVersion` for
            follow/watch cursors. The server rejects requests that provide both
            `after_row_seq` and `continue`.
          schema:
            type: integer
            minimum: 0
        - name: continue
          in: query
          required: false
          description: >
            Event-list cursor returned as `metadata.continue` or
            `metadata.resourceVersion`. Current cursors use
            `event-row-seq:<row_seq>`; clients should still treat the value as
            opaque and pass it back unchanged.
          schema:
            type: string
        - name: event_type
          in: query
          required: false
          description: >
            Filter by event type. May be repeated or comma-separated. Runtime
            audit event types include low-level access lifecycle rows,
            operation reviews, raw log/content reads, and
            `runtime.api_resources.read` / `runtime.api_resources.read.failed`
            catalog discovery reads, plus
            `runtime.inspect.bundle.read` / `runtime.inspect.bundle.read.failed`
            support-bundle reads.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: source
          in: query
          required: false
          description: Filter by normalized event source.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: resource_kind
          in: query
          required: false
          description: Additional involved-resource kind filter.
          schema:
            type: string
        - name: resource_name
          in: query
          required: false
          description: Additional involved-resource name filter.
          schema:
            type: string
        - name: trial_id
          in: query
          required: false
          description: Filter by trial id.
          schema:
            type: string
        - name: task_id
          in: query
          required: false
          description: Filter by task id.
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource event stream.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceEventList'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/actions/cordon:
    post:
      operationId: cordonRunRuntimeRunnerInstance
      summary: Cordon a runtime RunnerInstance resource.
      description: >
        Marks the selected RunnerInstance as cordoned so it stops accepting new
        work while preserving current low-level access for any active attempt.
        The action is owner-scoped through the Cloud run and emits an audited
        runtime event that appears in runtime events and resource describe
        output. Other resource kinds return Conflict.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
            enum:
              - RunnerInstance
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the cordon event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/actions/drain:
    post:
      operationId: drainRunRuntimeRunnerInstance
      summary: Drain a runtime RunnerInstance resource.
      description: >
        Marks the selected RunnerInstance as draining so it stops accepting new
        work while preserving the current attempt for inspection. The action is
        owner-scoped through the Cloud run and emits an audited runtime event
        that appears in runtime events and resource describe output. Other
        resource kinds return Conflict.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
            enum:
              - RunnerInstance
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the drain event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/actions/uncordon:
    post:
      operationId: uncordonRunRuntimeRunnerInstance
      summary: Uncordon a runtime RunnerInstance resource.
      description: >
        Marks a cordoned or draining RunnerInstance online again so it can
        accept new work. The action is owner-scoped through the Cloud run and
        emits an audited runtime event that appears in runtime events and
        resource describe output. Other resource kinds return Conflict, and
        offline or unhealthy runners are not revived by this action.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
            enum:
              - RunnerInstance
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the uncordon event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/actions/cancel:
    post:
      operationId: cancelRunRuntimeAccessResource
      summary: Cancel a runtime PortForward or Exec resource.
      description: >
        Cancels an active runtime access resource through the same resource
        action plane used for other runtime lifecycle operations. The action is
        owner-scoped through the Cloud run and emits an audited runtime access
        event that appears in runtime events and resource describe output.
        Other resource kinds return Conflict.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
            enum:
              - PortForward
              - Exec
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the cancel event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/actions/complete:
    post:
      operationId: completeRunRuntimePortForward
      summary: Mark an active runtime PortForward resource completed.
      description: >
        Records a clean PortForward closeout through the runtime resource action
        plane. This is the audited lifecycle transition for a tunnel that was
        active and then ended normally, distinct from DELETE/actions/cancel.
        Other resource kinds return Conflict.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
            enum:
              - PortForward
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - resource_version
              properties:
                reason:
                  type: string
                  nullable: true
                resource_version:
                  type: string
                  minLength: 1
                  description: Required reviewed precondition from runtime operation review; missing fails with Precondition Required and stale values fail with Conflict.
      responses:
        '200':
          description: Updated runtime resource detail with the completed event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResourceDescribe'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/logs:
    get:
      operationId: getRunRuntimeResourceLogs
      summary: Fetch stdout or stderr logs for a log-capable runtime resource.
      description: >
        Serves stdout/stderr through a resource identity, similar to `kubectl
        logs`. RunnerInstance and RunnerAttempt resources map to bounded worker
        control-plane event tails; Trial, TrialContainer, and assigned
        ScheduleSlot resources map to Core attempt objects. Unsupported
        resource kinds return Conflict instead of pretending logs exist.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: stream
          in: query
          required: false
          schema:
            type: string
            enum:
              - stdout
              - stderr
            default: stdout
        - name: tail_lines
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Runtime resource logs.
          headers:
            X-Bucephalus-Run-Id:
              schema:
                type: string
            X-Bucephalus-Resource-Kind:
              schema:
                type: string
            X-Bucephalus-Resource-Name:
              schema:
                type: string
            X-Bucephalus-Resource-Version:
              schema:
                type: string
            X-Bucephalus-Log-Stream:
              schema:
                type: string
                enum:
                  - stdout
                  - stderr
            X-Bucephalus-Core-Run-Id:
              schema:
                type: string
            X-Bucephalus-Trial-Id:
              schema:
                type: string
            X-Bucephalus-Artifact-Role:
              schema:
                type: string
            X-Bucephalus-Object-Ref:
              schema:
                type: string
            X-Bucephalus-Artifact-Sha256:
              schema:
                $ref: './common.yaml#/components/schemas/Digest'
          content:
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/content:
    get:
      operationId: getRunRuntimeResourceContent
      summary: Download content for a content-capable runtime resource.
      description: >
        Serves artifact bytes through a first-class runtime resource identity.
        Today this subresource is advertised for TrialArtifact resources, so
        clients can list/filter/describe the artifact and then download the same
        object via `TrialArtifact/{name}/content` without falling back to
        trial-id/role selectors.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery. For artifact bytes this should resolve to TrialArtifact.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Runtime resource content bytes.
          headers:
            X-Bucephalus-Run-Id:
              schema:
                type: string
            X-Bucephalus-Resource-Kind:
              schema:
                type: string
            X-Bucephalus-Resource-Name:
              schema:
                type: string
            X-Bucephalus-Resource-Version:
              schema:
                type: string
            X-Bucephalus-Core-Run-Id:
              schema:
                type: string
            X-Bucephalus-Trial-Id:
              schema:
                type: string
            X-Bucephalus-Artifact-Role:
              schema:
                type: string
            X-Bucephalus-Object-Ref:
              schema:
                type: string
            X-Bucephalus-Artifact-Sha256:
              schema:
                $ref: './common.yaml#/components/schemas/Digest'
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
                format: binary
            application/x-ndjson:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/port-forward:
    post:
      operationId: createRunRuntimeResourcePortForward
      summary: Create a port-forward request for a concrete runtime resource.
      description: >
        Creates an audited PortForward resource through the selected runtime
        resource path, similar to `kubectl port-forward` targeting a concrete
        object. The path resource is authoritative; clients must not send
        `resource_kind` or `resource_name` in the body.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeResourcePortForwardRequest'
      responses:
        '201':
          description: PortForward runtime resource accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resource
                properties:
                  resource:
                    $ref: '#/components/schemas/RuntimeResource'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/runs/{run_id}/runtime/resources/{kind}/{name}/exec:
    post:
      operationId: createRunRuntimeResourceExec
      summary: Create an exec request for a concrete runtime resource.
      description: >
        Creates an audited Exec resource through the selected runtime resource
        path, similar to `kubectl exec` targeting a concrete object. The path
        resource is authoritative; clients must not send `resource_kind` or
        `resource_name` in the body.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/RunId'
        - name: kind
          in: path
          required: true
          description: Canonical runtime kind, lowercase singular/plural resource name, or short name from runtime API discovery.
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeResourceExecRequest'
      responses:
        '201':
          description: Exec runtime resource accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resource
                properties:
                  resource:
                    $ref: '#/components/schemas/RuntimeResource'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '428':
          $ref: './common.yaml#/components/responses/PreconditionRequired'
  /v1/worker/runs/claim:
    post:
      operationId: claimRun
      summary: Claim the next queued Cloud run for a registered runner instance.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: >
        Uses the Cloud API durable run queue. The API owns database access and
        creates a leased run attempt transactionally; runner VMs do not need
        direct Postgres credentials to claim work. Requires the Cloud worker
        service token, either as a bearer token or X-Bucephalus-Worker-Token.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerLeaseRequest'
      responses:
        '200':
          description: Claimed run or empty claim result.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RunClaim'
                  - type: object
                    additionalProperties: false
                    required:
                      - claimed
                    properties:
                      claimed:
                        const: false
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/heartbeat:
    post:
      operationId: heartbeatRunAttempt
      summary: Extend a worker lease for a run attempt.
      security:
        - workerAttemptBearerAuth: []
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerLeaseRequest'
      responses:
        '200':
          description: Updated attempt.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - attempt
                properties:
                  attempt:
                    $ref: '#/components/schemas/RunAttempt'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/events:
    post:
      operationId: appendRunAttemptEvent
      summary: Append an event for a run attempt.
      security:
        - workerAttemptBearerAuth: []
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
                - event_type
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
                event_type:
                  type: string
                  minLength: 1
                payload:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '201':
          description: Event appended.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/RunEvent'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/runtime/event-rows:
    post:
      operationId: ingestRunAttemptRuntimeEventRows
      summary: Land a batch of live trial event rows for a run attempt.
      security:
        - workerAttemptBearerAuth: []
      description: >
        Worker live-evidence ingestion. Batches are idempotent: rows are keyed
        by (core_run_id, trial_id, schedule_idx, attempt, row_seq) and a replay
        upserts in place, so at-least-once delivery from the worker pump is
        safe. Requires the attempt token.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
                - rows
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
                rows:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - core_run_id
                      - trial_id
                      - schedule_idx
                      - attempt
                      - row_seq
                      - event_type
                    properties:
                      core_run_id:
                        type: string
                        pattern: '^run_[A-Za-z0-9_.-]+$'
                      trial_id:
                        type: string
                        minLength: 1
                      schedule_idx:
                        type: integer
                        minimum: 0
                      attempt:
                        type: integer
                        minimum: 0
                      row_seq:
                        type: integer
                        minimum: 0
                      slot_commit_id:
                        type: string
                      variant_id:
                        type: string
                      task_id:
                        type: string
                      repl_idx:
                        type: integer
                        minimum: 0
                      seq:
                        type: integer
                        minimum: 0
                      event_type:
                        type: string
                        minLength: 1
                      ts:
                        type:
                          - string
                          - 'null'
                      payload:
                        $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '200':
          description: Batch landed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - received
                  - upserted
                properties:
                  received:
                    type: integer
                  upserted:
                    type: integer
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/runtime/artifacts:
    post:
      operationId: uploadRunAttemptRuntimeArtifact
      summary: Upload a first-class runtime artifact for a run attempt.
      security:
        - workerAttemptBearerAuth: []
      description: >
        Worker artifact ingestion. The request body is the raw artifact bytes.
        The API verifies the attempt token, stores bytes in the configured object
        backend, and upserts runtime attempt-object metadata so result payloads
        can resolve content later.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
        - name: X-Bucephalus-Runner-Instance-Id
          in: header
          required: true
          schema:
            type: string
            minLength: 1
        - name: X-Bucephalus-Core-Run-Id
          in: header
          required: true
          schema:
            type: string
            pattern: '^run_[A-Za-z0-9_.-]+$'
        - name: X-Bucephalus-Trial-Id
          in: header
          required: true
          schema:
            type: string
            minLength: 1
        - name: X-Bucephalus-Schedule-Idx
          in: header
          required: true
          schema:
            type: integer
            minimum: 0
        - name: X-Bucephalus-Trial-Attempt
          in: header
          required: true
          schema:
            type: integer
            minimum: 0
        - name: X-Bucephalus-Artifact-Role
          in: header
          required: true
          schema:
            type: string
            pattern: '^[a-z][a-z0-9_]{0,63}$'
        - name: X-Bucephalus-Artifact-Relative-Path
          in: header
          required: false
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              format: binary
          application/x-ndjson:
            schema:
              type: string
              format: binary
          text/plain:
            schema:
              type: string
              format: binary
          text/x-diff:
            schema:
              type: string
              format: binary
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Runtime artifact stored.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - artifact
                properties:
                  artifact:
                    $ref: './common.yaml#/components/schemas/AnyJsonObject'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/complete:
    post:
      operationId: completeRunAttempt
      summary: Mark a run attempt and run completed.
      security:
        - workerAttemptBearerAuth: []
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
      responses:
        '200':
          description: Completed run claim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunClaim'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/fail:
    post:
      operationId: failRunAttempt
      summary: Mark a run attempt and run failed.
      security:
        - workerAttemptBearerAuth: []
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
                - message
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
                message:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Failed run claim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunClaim'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/worker/run-attempts/{attempt_id}/runtime/resources/PortForward:
    get:
      operationId: listWorkerRunAttemptPortForwardResources
      summary: List active PortForward resources assigned to a worker attempt.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
        - name: runner_instance_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Port-forward access requests for the attempt.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resources
                properties:
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuntimeResource'
  /v1/worker/run-attempts/{attempt_id}/runtime/resources/PortForward/{access_request_id}/{action}:
    post:
      operationId: updateWorkerRunAttemptPortForwardResource
      summary: Advance port-forward lifecycle from a worker attempt.
      description: >
        Worker-authenticated lifecycle update for an assigned PortForward
        resource. The control plane enforces ordered transitions: a request
        must be accepted before it can become active; completed is allowed only
        from active; failed and expired updates are allowed from any live phase;
        terminal or out-of-order updates return a conflict and do not write audit
        events.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
        - name: access_request_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum:
              - accept
              - accepted
              - active
              - complete
              - completed
              - fail
              - failed
              - expire
              - expired
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuntimePortForwardRequest'
      responses:
        '200':
          description: Updated PortForward runtime resource.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resource
                properties:
                  resource:
                    $ref: '#/components/schemas/RuntimeResource'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
  /v1/worker/run-attempts/{attempt_id}/runtime/resources/Exec:
    get:
      operationId: listWorkerRunAttemptExecResources
      summary: List active Exec resources assigned to a worker attempt.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
        - name: runner_instance_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Runtime exec access requests for the attempt.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resources
                properties:
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuntimeResource'
  /v1/worker/run-attempts/{attempt_id}/runtime/resources/Exec/{access_request_id}/{action}:
    post:
      operationId: updateWorkerRunAttemptExecResource
      summary: Advance runtime exec lifecycle from a worker attempt.
      description: >
        Worker-authenticated lifecycle update for an assigned Exec resource. The
        control plane enforces ordered transitions: a request must be accepted
        before it can become active or completed; failed and expired updates are
        allowed from any live phase; terminal or out-of-order updates return a
        conflict and do not write audit events.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
        - name: access_request_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum:
              - accept
              - accepted
              - active
              - complete
              - completed
              - fail
              - failed
              - expire
              - expired
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuntimeExecRequest'
      responses:
        '200':
          description: Updated Exec runtime resource.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - resource
                properties:
                  resource:
                    $ref: '#/components/schemas/RuntimeResource'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
  /v1/worker/runs/expire-leases:
    post:
      operationId: expireRunLeases
      summary: Expire stale worker leases, requeue runs, and expire runtime access TTLs.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: >
        Timer-driven queue maintenance owned by the Cloud API. Runners call this
        endpoint as a worker maintenance action; they do not connect to Postgres
        for queue wakeups. This also expires live PortForward and Exec resources
        whose control-plane ttl has elapsed. Requires the Cloud worker service
        token, either as a bearer token or X-Bucephalus-Worker-Token.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      responses:
        '200':
          description: Expired attempts and runtime access resources.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - expired
                  - expired_access_resources
                properties:
                  expired:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunClaim'
                  expired_access_resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuntimeResource'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-pools:
    post:
      operationId: createRunnerPool
      summary: Create a runner pool.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunnerPoolRequest'
      responses:
        '201':
          description: Runner pool created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
    get:
      operationId: listRunnerPools
      summary: List runner pools.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      responses:
        '200':
          description: Runner pools.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_pools
                properties:
                  runner_pools:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerPool'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-pools/{runner_pool_id}:
    get:
      operationId: getRunnerPool
      summary: Fetch a runner pool.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-pools/{runner_pool_id}/drain:
    post:
      operationId: drainRunnerPool
      summary: Mark a runner pool draining.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Updated runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-pools/{runner_pool_id}/disable:
    post:
      operationId: disableRunnerPool
      summary: Disable an internal runner pool.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Updated runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/register:
    post:
      operationId: registerRunnerInstance
      summary: Register a runner VM daemon instance.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: Requires the Cloud worker service token, either as a bearer token or X-Bucephalus-Worker-Token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRunnerInstanceRequest'
      responses:
        '201':
          description: Runner instance registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances:
    get:
      operationId: listRunnerInstances
      summary: List runner VM daemon instances.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - name: runner_pool_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Runner instances.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_instances
                properties:
                  runner_instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/expire-stale:
    post:
      operationId: expireStaleRunnerInstances
      summary: Mark stale runner instances offline.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                runner_pool_id:
                  type: string
                  format: uuid
                stale_after_seconds:
                  type: integer
                  minimum: 1
                  default: 90
      responses:
        '200':
          description: Runner instances marked offline.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_instances
                properties:
                  runner_instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-provision-requests:
    get:
      operationId: listRunnerProvisionRequests
      summary: List runner VM provision requests.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - name: runner_pool_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Runner provision requests.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - provision_requests
                properties:
                  provision_requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerProvisionRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/{runner_instance_id}/heartbeat:
    post:
      operationId: heartbeatRunnerInstance
      summary: Heartbeat a runner VM daemon instance.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: Requires the Cloud worker service token, either as a bearer token or X-Bucephalus-Worker-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                capabilities:
                  $ref: '#/components/schemas/WorkerCapabilities'
                metadata:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/{runner_instance_id}/drain:
    post:
      operationId: drainRunnerInstance
      summary: Mark a runner instance draining.
      security:
        - runnerAdminBearerAuth: []
        - runnerAdminTokenHeader: []
      description: Requires the runner admin token, either as a bearer token or X-Bucephalus-Runner-Admin-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/{runner_instance_id}/unhealthy:
    post:
      operationId: markRunnerInstanceUnhealthy
      summary: Mark a runner instance unhealthy after a host or cleanup failure.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: Requires the Cloud worker service token, either as a bearer token or X-Bucephalus-Worker-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunnerInstanceUnhealthyRequest'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
  /v1/runner-instances/{runner_instance_id}/offline:
    post:
      operationId: markRunnerInstanceOffline
      summary: Mark a runner instance offline after daemon shutdown.
      security:
        - workerBearerAuth: []
        - workerTokenHeader: []
      description: Requires the Cloud worker service token, either as a bearer token or X-Bucephalus-Worker-Token.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunnerInstanceOfflineRequest'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      $ref: './common.yaml#/components/securitySchemes/bearerAuth'
    workerAttemptBearerAuth:
      $ref: './common.yaml#/components/securitySchemes/workerAttemptBearerAuth'
    workerBearerAuth:
      $ref: './common.yaml#/components/securitySchemes/workerBearerAuth'
    workerTokenHeader:
      $ref: './common.yaml#/components/securitySchemes/workerTokenHeader'
    runnerAdminBearerAuth:
      $ref: './common.yaml#/components/securitySchemes/runnerAdminBearerAuth'
    runnerAdminTokenHeader:
      $ref: './common.yaml#/components/securitySchemes/runnerAdminTokenHeader'
  parameters:
    RunId:
      name: run_id
      in: path
      required: true
      description: Opaque Cloud run identifier assigned by the control plane. This is not a UUID.
      schema:
        $ref: '#/components/schemas/CloudRunId'
    AttemptId:
      name: attempt_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunnerPoolId:
      name: runner_pool_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunnerInstanceId:
      name: runner_instance_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    CloudRunId:
      type: string
      description: Opaque Cloud run identifier assigned by the control plane. Clients must treat it as a string, not as a UUID.
      minLength: 1
      examples:
        - run_00sonnet46
        - run-1
    WorkerLeaseRequest:
      type: object
[...]
