openapi: 3.1.0
info:
  title: Bucephalus Cloud Runs API
  version: 0.1.0
  description: >
    Cloud run request primitives. A run references an accepted sealed package
    artifact and supplies only the environment values or secret references that
    are not already provided by the target runtime environment.
servers:
  - url: https://api.bucephalus.dev
  - url: http://localhost:8080
security:
  - bearerAuth: []
paths:
  /v1/packages:
    get:
      operationId: listPackageArtifacts
      summary: List recent package artifacts.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Package artifacts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - packages
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageArtifact'
  /v1/packages/{package_digest}:
    get:
      operationId: getPackageArtifact
      summary: Fetch an accepted sealed package artifact by digest.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: package_digest
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/Digest'
      responses:
        '200':
          description: Package artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageArtifact'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/packages/{package_digest}/content:
    get:
      operationId: downloadPackageArtifact
      summary: Download sealed package artifact bytes by digest.
      description: >
        Workers use this endpoint to materialize package content. Workers must
        not read API-local storage paths from the database.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: package_digest
          in: path
          required: true
          schema:
            $ref: './common.yaml#/components/schemas/Digest'
      responses:
        '200':
          description: Package archive bytes.
          headers:
            X-Bucephalus-Package-Digest:
              schema:
                $ref: './common.yaml#/components/schemas/Digest'
          content:
            application/gzip:
              schema:
                type: string
                format: binary
            application/x-tar:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs:
    get:
      operationId: listRuns
      summary: List recent Cloud run records.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Run records.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runs
                properties:
                  runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRun'
    post:
      operationId: createRun
      summary: Create a Cloud run request for an accepted sealed package.
      description: >
        This creates a run record. It does not build, rewrite, register, or
        launch a different artifact. Runtime execution can be attached later by
        a managed runner.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - package_digest
              properties:
                package_digest:
                  $ref: './common.yaml#/components/schemas/Digest'
                run_label:
                  type:
                    - string
                    - 'null'
                env:
                  type: object
                  additionalProperties:
                    type: string
                  description: Plain environment values supplied for this run.
                secret_refs:
                  type: object
                  additionalProperties:
                    type: string
                  description: >
                    Environment variable names mapped to provider secret
                    references available to the runner. Supported resolver refs
                    include gcp-secret-manager://projects/<project>/secrets/<secret>/versions/<version>,
                    aws-secrets-manager://<secret-id>, and env:<NAME> only for
                    explicitly enabled local development.
                runtime_options:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
                  description: >
                    Run-time execution options. Cloud backends use `backend`
                    values such as `runner-docker` or `modal`; `runner-docker`
                    is executed by a VM runner daemon and maps to Core's Docker
                    executor inside that VM.
      responses:
        '201':
          description: Run record created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRun'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
  /v1/runs/{run_id}:
    get:
      operationId: getRun
      summary: Fetch a Cloud run record.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Run record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRun'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime:
    get:
      operationId: getRunRuntime
      summary: Fetch live Core runtime state for a Cloud run.
      description: >
        Reads API-owned worker runtime snapshots plus any legacy normalized
        Core runtime rows. Runner VMs report runtime state through the Cloud API
        and do not need direct database credentials.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live runtime summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSummary'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/events:
    get:
      operationId: listRunRuntimeEvents
      summary: List live trace events for a Cloud run.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
        - name: after_row_seq
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: Live runtime event rows.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - cloud_run_id
                  - events
                properties:
                  cloud_run_id:
                    type: string
                    format: uuid
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuntimeEvent'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/results:
    get:
      operationId: getRunRuntimeResults
      summary: Fetch runtime result rows for a Cloud run.
      description: >
        Returns normalized legacy runtime rows plus trial, metric, and contract
        stage rows derived from API-owned worker runtime snapshots.
        Snapshot-derived rows include row.source=worker_runtime_snapshot.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
      responses:
        '200':
          description: Runtime results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResults'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/runs/{run_id}/runtime/kv/{key}:
    get:
      operationId: getRunRuntimeKv
      summary: Fetch live runtime values by key for a Cloud run.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Runtime values for the requested key.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - cloud_run_id
                  - key
                  - values
                properties:
                  cloud_run_id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  values:
                    type: array
                    items:
                      $ref: './common.yaml#/components/schemas/AnyJsonObject'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/worker/runs/claim:
    post:
      operationId: claimRun
      summary: Claim the next queued Cloud run for a registered runner instance.
      description: >
        Uses the Cloud API durable run queue. The API owns database access and
        creates a leased run attempt transactionally; runner VMs do not need
        direct Postgres credentials to claim work.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerLeaseRequest'
      responses:
        '200':
          description: Claimed run or empty claim result.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RunClaim'
                  - type: object
                    additionalProperties: false
                    required:
                      - claimed
                    properties:
                      claimed:
                        const: false
  /v1/worker/run-attempts/{attempt_id}/heartbeat:
    post:
      operationId: heartbeatRunAttempt
      summary: Extend a worker lease for a run attempt.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerLeaseRequest'
      responses:
        '200':
          description: Updated attempt.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - attempt
                properties:
                  attempt:
                    $ref: '#/components/schemas/RunAttempt'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
  /v1/worker/run-attempts/{attempt_id}/events:
    post:
      operationId: appendRunAttemptEvent
      summary: Append an event for a run attempt.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
                - event_type
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
                event_type:
                  type: string
                  minLength: 1
                payload:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '201':
          description: Event appended.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - event
                properties:
                  event:
                    $ref: '#/components/schemas/RunEvent'
  /v1/worker/run-attempts/{attempt_id}/complete:
    post:
      operationId: completeRunAttempt
      summary: Mark a run attempt and run completed.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
      responses:
        '200':
          description: Completed run claim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunClaim'
  /v1/worker/run-attempts/{attempt_id}/fail:
    post:
      operationId: failRunAttempt
      summary: Mark a run attempt and run failed.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
        - $ref: '#/components/parameters/AttemptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - runner_instance_id
                - message
              properties:
                runner_instance_id:
                  type: string
                  format: uuid
                  minLength: 1
                message:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: Failed run claim.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunClaim'
  /v1/worker/runs/expire-leases:
    post:
      operationId: expireRunLeases
      summary: Expire stale worker leases and requeue their runs.
      description: >
        Timer-driven queue maintenance owned by the Cloud API. Runners call this
        endpoint as a worker maintenance action; they do not connect to Postgres
        for queue wakeups.
      parameters:
        - $ref: './common.yaml#/components/parameters/OrgId'
      responses:
        '200':
          description: Expired attempts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - expired
                properties:
                  expired:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunClaim'
  /v1/runner-pools:
    post:
      operationId: createRunnerPool
      summary: Create a runner pool.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunnerPoolRequest'
      responses:
        '201':
          description: Runner pool created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
    get:
      operationId: listRunnerPools
      summary: List runner pools.
      responses:
        '200':
          description: Runner pools.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_pools
                properties:
                  runner_pools:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerPool'
  /v1/runner-pools/{runner_pool_id}:
    get:
      operationId: getRunnerPool
      summary: Fetch a runner pool.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
  /v1/runner-pools/{runner_pool_id}/drain:
    post:
      operationId: drainRunnerPool
      summary: Mark a runner pool draining.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Updated runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
  /v1/runner-pools/{runner_pool_id}/disable:
    post:
      operationId: disableRunnerPool
      summary: Disable an internal runner pool.
      parameters:
        - $ref: '#/components/parameters/RunnerPoolId'
      responses:
        '200':
          description: Updated runner pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerPool'
  /v1/runner-instances/register:
    post:
      operationId: registerRunnerInstance
      summary: Register a runner VM daemon instance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRunnerInstanceRequest'
      responses:
        '201':
          description: Runner instance registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-instances:
    get:
      operationId: listRunnerInstances
      summary: List runner VM daemon instances.
      parameters:
        - name: runner_pool_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Runner instances.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_instances
                properties:
                  runner_instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-instances/expire-stale:
    post:
      operationId: expireStaleRunnerInstances
      summary: Mark stale runner instances offline.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                runner_pool_id:
                  type: string
                  format: uuid
                stale_after_seconds:
                  type: integer
                  minimum: 1
                  default: 90
      responses:
        '200':
          description: Runner instances marked offline.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - runner_instances
                properties:
                  runner_instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-provision-requests:
    get:
      operationId: listRunnerProvisionRequests
      summary: List runner VM provision requests.
      parameters:
        - name: runner_pool_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Runner provision requests.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - provision_requests
                properties:
                  provision_requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/RunnerProvisionRequest'
  /v1/runner-instances/{runner_instance_id}/heartbeat:
    post:
      operationId: heartbeatRunnerInstance
      summary: Heartbeat a runner VM daemon instance.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                capabilities:
                  $ref: '#/components/schemas/WorkerCapabilities'
                metadata:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-instances/{runner_instance_id}/drain:
    post:
      operationId: drainRunnerInstance
      summary: Mark a runner instance draining.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-instances/{runner_instance_id}/unhealthy:
    post:
      operationId: markRunnerInstanceUnhealthy
      summary: Mark a runner instance unhealthy after a host or cleanup failure.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunnerInstanceUnhealthyRequest'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
  /v1/runner-instances/{runner_instance_id}/offline:
    post:
      operationId: markRunnerInstanceOffline
      summary: Mark a runner instance offline after daemon shutdown.
      parameters:
        - $ref: '#/components/parameters/RunnerInstanceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunnerInstanceOfflineRequest'
      responses:
        '200':
          description: Updated runner instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunnerInstance'
components:
  securitySchemes:
    bearerAuth:
      $ref: './common.yaml#/components/securitySchemes/bearerAuth'
  parameters:
    AttemptId:
      name: attempt_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunnerPoolId:
      name: runner_pool_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RunnerInstanceId:
      name: runner_instance_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    WorkerLeaseRequest:
      type: object
      additionalProperties: false
      required:
        - runner_instance_id
      properties:
        runner_instance_id:
          type: string
          format: uuid
          minLength: 1
        lease_seconds:
          type: integer
          minimum: 5
          maximum: 3600
          default: 30
    RunClaim:
      type: object
      additionalProperties: false
      required:
        - claimed
        - run
        - attempt
      properties:
        claimed:
          const: true
        run:
          $ref: '#/components/schemas/CloudRun'
        attempt:
          $ref: '#/components/schemas/RunAttempt'
    PackageArtifact:
      type: object
      additionalProperties: false
      required:
        - package_digest
        - status
        - manifest_json
        - resolved_experiment_json
        - diagnostics
        - created_at
        - updated_at
      properties:
        package_digest:
          $ref: './common.yaml#/components/schemas/Digest'
        upload_id:
          type:
            - string
            - 'null'
          format: uuid
        byte_size:
          type:
            - integer
            - 'null'
          minimum: 0
        media_type:
          type:
            - string
            - 'null'
        manifest_json:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        resolved_experiment_json:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        target:
          oneOf:
            - $ref: './common.yaml#/components/schemas/BuildTarget'
            - type: 'null'
        diagnostics:
          type: array
          items:
            $ref: './imports.yaml#/components/schemas/ImportDiagnostic'
        image_refs:
          type: array
          items:
            type: string
          description: Task/runtime container image references discovered in the sealed package.
        status:
          type: string
          enum:
            - accepted
            - rejected
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CloudRun:
      type: object
      additionalProperties: false
      required:
        - run_id
        - package_digest
        - status
        - env
        - secret_refs
        - runtime_options
        - created_at
        - updated_at
      properties:
        run_id:
          type: string
          format: uuid
        package_digest:
          $ref: './common.yaml#/components/schemas/Digest'
        run_label:
          type:
            - string
            - 'null'
        status:
          type: string
          enum:
            - created
            - waiting_for_runner
            - running
            - completed
            - failed
            - cancelled
        env:
          type: object
          additionalProperties:
            type: string
        secret_refs:
          type: object
          additionalProperties:
            type: string
          description: >
            Attempt-scoped secret declarations. Values are provider/control-plane
            references, not runner-local file paths. Workers must materialize
            them through the configured secret resolver for the claimed attempt.
            Provider refs currently include GCP Secret Manager and AWS Secrets
            Manager forms; env refs require explicit local-development opt-in.
        runtime_options:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        run_requirements:
          $ref: '#/components/schemas/RunRequirements'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        started_at:
          type:
            - string
            - 'null'
          format: date-time
        completed_at:
          type:
            - string
            - 'null'
          format: date-time
        error_message:
          type:
            - string
            - 'null'
    RuntimeSummary:
      type: object
      additionalProperties: false
      required:
        - cloud_run_id
        - core_run_ids
        - runtime_snapshots
        - run_controls
        - schedule_progress
        - active_slots
        - recent_events
      properties:
        cloud_run_id:
          type: string
          format: uuid
        core_run_ids:
          type: array
          items:
            type: string
        runtime_snapshots:
          type: array
          description: >
            Worker-persisted Core runtime JSON mirrors, appended through the
            Cloud API before attempt cleanup.
          items:
            $ref: '#/components/schemas/RuntimeSnapshot'
        run_controls:
          type: array
          items:
            $ref: './common.yaml#/components/schemas/AnyJsonObject'
        schedule_progress:
          type: array
          items:
            $ref: './common.yaml#/components/schemas/AnyJsonObject'
        active_slots:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeSlot'
        recent_events:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeEvent'
    RuntimeSnapshot:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - run_dir_name
        - runtime_values
        - trial_summaries
        - evidence_records
        - omitted
      properties:
        core_run_id:
          type: string
        run_dir_name:
          type: string
          description: Relative Core run directory name, never an absolute worker path.
        runtime_values:
          type: object
          additionalProperties:
            $ref: './common.yaml#/components/schemas/AnyJsonObject'
        trial_summaries:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - trial_id
              - summary
            properties:
              trial_id:
                type: string
              summary:
                $ref: './common.yaml#/components/schemas/AnyJsonObject'
              contract_trace:
                $ref: './common.yaml#/components/schemas/AnyJsonObject'
              trial_events:
                type: array
                items:
                  $ref: './common.yaml#/components/schemas/AnyJsonObject'
        evidence_records:
          type: array
          items:
            $ref: './common.yaml#/components/schemas/AnyJsonObject'
        omitted:
          type: array
          items:
            type: string
        seq:
          type: integer
        created_at:
          type: string
          format: date-time
    RuntimeSlot:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - schedule_idx
        - state
        - trial_id
        - attempt
        - worker_id
        - owner_id
        - lease_expires_at
        - slot_commit_id
        - slot_status
        - slot
      properties:
        core_run_id:
          type: string
        schedule_idx:
          type: integer
        state:
          type: string
        trial_id:
          type:
            - string
            - 'null'
        attempt:
          type: integer
        worker_id:
          type:
            - string
            - 'null'
        owner_id:
          type:
            - string
            - 'null'
        lease_expires_at:
          type:
            - string
            - 'null'
        slot_commit_id:
          type:
            - string
            - 'null'
        slot_status:
          type:
            - string
            - 'null'
        slot:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RuntimeEvent:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - trial_id
        - schedule_idx
        - attempt
        - row_seq
        - slot_commit_id
        - variant_id
        - task_id
        - repl_idx
        - seq
        - event_type
        - ts
        - payload
        - row
      properties:
        core_run_id:
          type: string
        trial_id:
          type: string
        schedule_idx:
          type: integer
        attempt:
          type: integer
        row_seq:
          type: integer
        slot_commit_id:
          type: string
        variant_id:
          type: string
        task_id:
          type: string
        repl_idx:
          type: integer
        seq:
          type: integer
        event_type:
          type: string
        ts:
          type:
            - string
            - 'null'
        payload:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        row:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RuntimeResults:
      type: object
      additionalProperties: false
      required:
        - cloud_run_id
        - core_run_ids
        - trial_results
        - metric_observations
        - contract_stages
        - attempt_objects
      properties:
        cloud_run_id:
          type: string
          format: uuid
        core_run_ids:
          type: array
          items:
            type: string
        trial_results:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeTrialResult'
        metric_observations:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeMetricObservation'
        contract_stages:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeContractStage'
        attempt_objects:
          type: array
          items:
            $ref: '#/components/schemas/RuntimeAttemptObject'
    RuntimeTrialResult:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - trial_id
        - schedule_idx
        - attempt
        - row_seq
        - variant_id
        - task_id
        - repl_idx
        - outcome
        - primary_metric_name
        - primary_metric_value
        - metrics
        - bindings
        - events_total
        - has_events
        - row
      properties:
        core_run_id:
          type: string
        trial_id:
          type: string
        schedule_idx:
          type: integer
        attempt:
          type: integer
        row_seq:
          type: integer
        variant_id:
          type: string
        task_id:
          type: string
        repl_idx:
          type: integer
        outcome:
          type: string
        primary_metric_name:
          type: string
        primary_metric_value:
          $ref: './common.yaml#/components/schemas/AnyJson'
        metrics:
          $ref: './common.yaml#/components/schemas/AnyJson'
        bindings:
          $ref: './common.yaml#/components/schemas/AnyJson'
        events_total:
          type: integer
        has_events:
          type: boolean
        row:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RuntimeMetricObservation:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - trial_id
        - schedule_idx
        - attempt
        - row_seq
        - variant_id
        - task_id
        - repl_idx
        - outcome
        - metric_name
        - metric_value
        - metric_source
        - row
      properties:
        core_run_id:
          type: string
        trial_id:
          type: string
        schedule_idx:
          type: integer
        attempt:
          type: integer
        row_seq:
          type: integer
        variant_id:
          type: string
        task_id:
          type: string
        repl_idx:
          type: integer
        outcome:
          type: string
        metric_name:
          type: string
        metric_value:
          $ref: './common.yaml#/components/schemas/AnyJson'
        metric_source:
          type:
            - string
            - 'null'
        row:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RuntimeContractStage:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - trial_id
        - schedule_idx
        - attempt
        - row_seq
        - variant_id
        - task_id
        - repl_idx
        - stage
        - status
        - recorded_at
        - detail
        - row
      properties:
        core_run_id:
          type: string
        trial_id:
          type: string
        schedule_idx:
          type: integer
        attempt:
          type: integer
        row_seq:
          type: integer
        variant_id:
          type: string
        task_id:
          type: string
        repl_idx:
          type: integer
        stage:
          type: string
        status:
          type: string
        recorded_at:
          type: string
        detail:
          $ref: './common.yaml#/components/schemas/AnyJson'
        row:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RuntimeAttemptObject:
      type: object
      additionalProperties: false
      required:
        - core_run_id
        - trial_id
        - schedule_idx
        - attempt
        - role
        - object_ref
        - metadata
        - recorded_at_ms
      properties:
        core_run_id:
          type: string
        trial_id:
          type: string
        schedule_idx:
          type: integer
        attempt:
          type: integer
        role:
          type: string
        object_ref:
          type: string
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJson'
        recorded_at_ms:
          type: integer
    RunAttempt:
      type: object
      additionalProperties: false
      required:
        - attempt_id
        - run_id
        - worker_id
        - runner_instance_id
        - status
        - lease_expires_at
        - heartbeat_at
        - started_at
        - created_at
        - updated_at
      properties:
        attempt_id:
          type: string
          format: uuid
        run_id:
          type: string
          format: uuid
        worker_id:
          type: string
        runner_instance_id:
          type:
            - string
            - 'null'
          format: uuid
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - expired
        lease_expires_at:
          type: string
          format: date-time
        heartbeat_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        ended_at:
          type:
            - string
            - 'null'
          format: date-time
        error_message:
          type:
            - string
            - 'null'
    WorkerCapabilities:
      type: object
      additionalProperties: false
      required:
        - executors
        - resources
      properties:
        executors:
          type: array
          items:
            type: string
            enum:
              - runner-docker
              - modal
        resources:
          type: array
          items:
            type: string
          description: >
            VM runner resources available to satisfy run requirements, for
            example core_runner, docker_daemon, registry_pull, modal.
        arch:
          type: string
          enum:
            - x86_64
            - arm64
        cpu_count:
          type: integer
          minimum: 1
        memory_mb:
          type: integer
          minimum: 1
        disk_mb:
          type: integer
          minimum: 1
        isolation:
          type: array
          items:
            type: string
            enum:
              - reusable_vm
              - single_use_vm
    RunRequirements:
      type: object
      additionalProperties: false
      required:
        - executor
        - requires
        - image_refs
        - secret_ids
        - network_perimeter
        - sidecars
        - accelerators
        - arch
        - cpu_count
        - memory_mb
        - disk_mb
        - isolation
        - timeout_ms
        - max_parallel_trials
      properties:
        executor:
          type: string
          enum:
            - runner-docker
            - modal
        requires:
          type: array
          items:
            type: string
        image_refs:
          type: array
          items:
            type: string
        secret_ids:
          type: array
          items:
            type: string
          description: Secret ids declared for this run. Values are ids only, never secret plaintext.
        network_perimeter:
          type: object
          additionalProperties: false
          required:
            - default
            - task_sandbox
            - agent
            - egress_hosts
          properties:
            default:
              type: string
              enum:
                - none
            task_sandbox:
              type: string
              enum:
                - none
            agent:
              type: string
              enum:
                - none
            egress_hosts:
              type: array
              items:
                type: string
          description: >
            Declared Cloud runtime network perimeter. Cloud runs reject ambient
            network modes; external egress must be listed by hostname.
        sidecars:
          type: array
          items:
            type: string
          description: >
            Declared sidecar ids or services required by the run. Each sidecar
            also becomes a required runner resource named sidecar:<id>.
        accelerators:
          type: array
          items:
            type: string
          description: >
            Declared accelerator requirements such as gpu classes. Each
            accelerator also becomes a required runner resource named
            accelerator:<id>.
        arch:
          type: string
          enum:
            - x86_64
            - arm64
        cpu_count:
          type: integer
          minimum: 1
        memory_mb:
          type: integer
          minimum: 1
        disk_mb:
          type: integer
          minimum: 1
        isolation:
          type: string
          enum:
            - reusable_vm
            - single_use_vm
        timeout_ms:
          type:
            - integer
            - 'null'
          minimum: 1
        max_parallel_trials:
          type: integer
          minimum: 1
    CreateRunnerPoolRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - capabilities
      properties:
        name:
          type: string
          minLength: 1
        capabilities:
          $ref: '#/components/schemas/WorkerCapabilities'
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RegisterRunnerInstanceRequest:
      type: object
      additionalProperties: false
      required:
        - runner_pool_id
        - instance_name
        - capabilities
      properties:
        runner_pool_id:
          type: string
          format: uuid
        instance_name:
          type: string
          minLength: 1
        capabilities:
          $ref: '#/components/schemas/WorkerCapabilities'
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RunnerInstanceUnhealthyRequest:
      type: object
      additionalProperties: false
      required:
        - reason
      properties:
        reason:
          type: string
          minLength: 1
        details:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
    RunnerInstanceOfflineRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
          minLength: 1
    RunnerPool:
      type: object
      additionalProperties: false
      required:
        - runner_pool_id
        - name
        - status
        - capabilities
        - metadata
        - created_at
        - updated_at
      properties:
        runner_pool_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
            - active
            - draining
            - disabled
        capabilities:
          $ref: '#/components/schemas/WorkerCapabilities'
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RunnerInstance:
      type: object
      additionalProperties: false
      required:
        - runner_instance_id
        - runner_pool_id
        - instance_name
        - status
        - capabilities
        - metadata
        - last_heartbeat_at
        - created_at
        - updated_at
      properties:
        runner_instance_id:
          type: string
          format: uuid
        runner_pool_id:
          type: string
          format: uuid
        instance_name:
          type: string
        status:
          type: string
          enum:
            - online
            - draining
            - offline
            - unhealthy
        capabilities:
          $ref: '#/components/schemas/WorkerCapabilities'
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        last_heartbeat_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RunnerProvisionRequest:
      type: object
      additionalProperties: false
      required:
        - provision_request_id
        - runner_pool_id
        - status
        - provider
        - requirements
        - metadata
        - created_at
        - updated_at
      properties:
        provision_request_id:
          type: string
          format: uuid
        runner_pool_id:
          type: string
          format: uuid
        run_id:
          type:
            - string
            - 'null'
          format: uuid
        status:
          type: string
          enum:
            - requested
            - provisioning
            - active
            - failed
            - reaped
        provider:
          type: string
        provider_instance_id:
          type:
            - string
            - 'null'
        instance_name:
          type:
            - string
            - 'null'
        runner_instance_id:
          type:
            - string
            - 'null'
          format: uuid
        requirements:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        metadata:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        error_message:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RunEvent:
      type: object
      additionalProperties: false
      required:
        - event_id
        - run_id
        - seq
        - event_type
        - payload
        - created_at
      properties:
        event_id:
          type: string
          format: uuid
        run_id:
          type: string
          format: uuid
        attempt_id:
          type:
            - string
            - 'null'
          format: uuid
        seq:
          type: integer
          minimum: 1
        event_type:
          type: string
          minLength: 1
        payload:
          $ref: './common.yaml#/components/schemas/AnyJsonObject'
        created_at:
          type: string
          format: date-time
