openapi: 3.1.0
info:
  title: Bucephalus Cloud Hosted Secrets API
  version: 0.1.0
  description: >
    Write-only hosted secret store. Owners upload named secret values once and
    reference them from run submissions as bucephalus://<name>; the control
    plane stores values in its own provider secret manager and translates
    hosted refs to backing provider refs at run creation. Secret plaintext is
    never readable back through this API.
servers:
  - url: https://api.bucephalus.dev
  - url: http://localhost:8080
security:
  - bearerAuth: []
paths:
  /v1/secrets:
    get:
      operationId: listSecrets
      summary: List the authenticated owner's hosted secrets (names and metadata only).
      responses:
        '200':
          description: Hosted secrets owned by the caller. Values are never included.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - secrets
                properties:
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/HostedSecret'
  /v1/secrets/{name}:
    put:
      operationId: putSecret
      summary: Create or rotate a hosted secret value.
      description: >
        Idempotent by name. The first upload creates the secret; subsequent
        uploads rotate it and bump the version. Runs created after a rotation
        resolve the new value; in-flight runs keep the version they captured.
        Names reserved for Cloud control-plane credentials are rejected.
      parameters:
        - $ref: '#/components/parameters/SecretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - value
              properties:
                value:
                  type: string
                  description: Secret plaintext, at most 64 KiB of UTF-8.
      responses:
        '200':
          description: Existing secret rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedSecret'
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedSecret'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
    delete:
      operationId: deleteSecret
      summary: Delete a hosted secret and its backing store entry.
      parameters:
        - $ref: '#/components/parameters/SecretName'
      responses:
        '200':
          description: Secret deleted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                  - deleted
                properties:
                  name:
                    type: string
                  deleted:
                    type: boolean
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
components:
  parameters:
    SecretName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{1,128}$'
      description: Owner-scoped secret name, typically the environment variable it backs.
  schemas:
    HostedSecret:
      type: object
      additionalProperties: false
      required:
        - name
        - version
        - created_at
        - updated_at
      properties:
        name:
          type: string
        version:
          type: integer
          description: Rotation counter starting at 1.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
